<header class="site-header">
  <div class="left-navbar-container">
    <img [src]="'assets/logo.png'" alt="Hotel logo" class="nav-logo" />

    <nav>
      <a href="" class="nav-link">Home</a>
      <a href="" class="nav-link">Hotels</a>
      <a href="" class="nav-link">About Us</a>
      <a href="" class="nav-link">Contact Us</a>
    </nav>
  </div>

  <div class="search-container">
    <input type="text" placeholder="Search..." class="search-box" />
    <button class="nav-button">Search</button>
  </div>

  <nav class="right-navbar">
    <a href="" class="nav-link">Login</a>
    <a href="" class="nav-button">Sign up</a>
  </nav>
</header>

