<h1>Hotel Details</h1>

<div class="main-container">
  <div class="card">
    <img [src]="'assets/images.jpg'" alt="Hotel image" class="card-photo" />
    <div class="container">
      <h3>Resort</h3>
      <p>No,7Malabe</p>
    </div>
  </div>
  <div class="card">
    <img [src]="'assets/images.jpg'" alt="Hotel image" class="card-photo" />
    <div class="container">
      <h3>Resort</h3>
      <p>No,7Malabe</p>
    </div>
  </div>
  <div class="card">
    <img [src]="'assets/images.jpg'" alt="Hotel image" class="card-photo" />
    <div class="container">
      <h3>Resort</h3>
      <p>No,7Malabe</p>
    </div>
  </div>
  <div class="card">
    <img [src]="'assets/images.jpg'" alt="Hotel image" class="card-photo" />
    <div class="container">
      <h3>Resort</h3>
      <p>No,7Malabe</p>
    </div>
  </div>
  <div class="card">
    <img [src]="'assets/images.jpg'" alt="Hotel image" class="card-photo" />
    <div class="container">
      <h3>Resort</h3>
      <p>No,7Malabe</p>
    </div>
  </div>
  <div class="card">
    <img [src]="'assets/images.jpg'" alt="Hotel image" class="card-photo" />
    <div class="container">
      <h3>Resort</h3>
      <p>No,7Malabe</p>
    </div>
  </div>
  <div class="card">
    <img [src]="'assets/images.jpg'" alt="Hotel image" class="card-photo" />
    <div class="container">
      <h3>Resort</h3>
      <p>No,7Malabe</p>
    </div>
  </div>
  <div class="card">
    <img [src]="'assets/images.jpg'" alt="Hotel image" class="card-photo" />
    <div class="container">
      <h3>Resort</h3>
      <p>No,7Malabe</p>
    </div>
  </div>
  <div class="card">
    <img [src]="'assets/images.jpg'" alt="Hotel image" class="card-photo" />
    <div class="container">
      <h3>Resort</h3>
      <p>No,7Malabe</p>
    </div>
  </div>
</div>
